/***** VARIABLES *****/
/***** MIXINS *****/
/****** EXTEND ******/
/***** IMPORT *****/
/***** PARTIALS *****/
#header {
  background: #ffffff;
  height: 151px; }
  #header a#logo {
    display: block;
    height: 86px;
    padding: 15px 0 0 20px; }
    #header a#logo img {
      display: block;
      margin: 0 auto; }
  #header > ul {
    background: #4b4b4b;
    height: 49px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 900px; }
    #header > ul > li {
      float: left;
      position: relative;
      width: 150px; }
      #header > ul > li > a {
        color: #f0f2c9;
        display: block;
        letter-spacing: 0.1em;
        line-height: 49px;
        text-align: center;
        text-decoration: none; }
      #header > ul > li.current > a {
        background: #96b285;
        color: #356618; }
        #header > ul > li.current > a:hover {
          background: #96b285;
          color: #356618; }
  #header ul li ul li.current a {
    background: #96b285;
    color: #356618; }
    #header ul li ul li.current a:hover {
      background: #96b285;
      color: #356618; }
  #header ul li a:hover {
    background: #daead0;
    color: #1b330c; }
  #header ul li ul {
    list-style: none;
    left: -99999px;
    margin: 0;
    overflow: visible;
    padding: 11px 0 0;
    position: absolute;
    top: 49px;
    width: 150px;
    z-index: 2; }
  #header ul li:hover ul {
    left: 0;
    top: 49px; }
  #header ul li ul li {
    background: #4B4B4B; }
    #header ul li ul li a {
      color: #f0f2c9;
      display: block;
      line-height: 31px;
      text-align: center;
      text-decoration: none; }

/***** PARTIALS *****/
#footer {
  background: #dce9d4;
  border-top: 1px solid #b8d0aa; }
  #footer div {
    height: 174px;
    overflow: hidden; }
    #footer div div {
      border-left: 1px solid #b8d0aa;
      float: left;
      height: 134px;
      padding: 20px 20px;
      width: 180px; }
      #footer div div:first-child {
        border: none; }
      #footer div div h1 {
        color: #8c8c8c;
        font-size: 18px;
        font-weight: normal;
        margin: 0;
        padding: 0 0 13px;
        text-shadow: 1px 1px 1px #ffffff;
        text-transform: uppercase; }
      #footer div div ul li a {
        letter-spacing: 0.028em;
        line-height: 18px; }
      #footer div div a {
        color: #8c8c8c;
        display: block;
        letter-spacing: 0.05em;
        text-decoration: none; }
        #footer div div a:hover {
          color: #4b4b4f; }
        #footer div div a#mail {
          background: url(../images/icons.png) no-repeat;
          height: 14px;
          line-height: 14px;
          margin: 0 0 10px;
          padding: 0 0 0 30px; }
        #footer div div a#facebook {
          background: url(../images/icons.png) no-repeat 0 -38px;
          height: 20px;
          line-height: 20px;
          margin: 0 0 10px;
          padding: 0 0 0 30px; }
        #footer div div a#twitter {
          background: url(../images/icons.png) no-repeat 0 -88px;
          height: 18px;
          line-height: 18px;
          margin: 0 0 10px;
          padding: 0 0 0 30px; }
        #footer div div a#googleplus {
          background: url(../images/icons.png) no-repeat 0 -134px;
          height: 20px;
          line-height: 20px;
          margin: 0 0 10px;
          padding: 0 0 0 30px; }
        #footer div div a#mail:hover {
          background: url(../images/icons.png) no-repeat 0 -14px;
          background-color: white; }
        #footer div div a#facebook:hover {
          background: url(../images/icons.png) no-repeat 0 -58px;
          background-color: white; }
        #footer div div a#twitter:hover {
          background: url(../images/icons.png) no-repeat 0 -106px;
          background-color: white; }
        #footer div div a#googleplus:hover {
          background: url(../images/icons.png) no-repeat 0 -154px;
          background-color: white; }
  #footer p {
    background: #356618;
    color: #ffffff;
    height: 37px;
    line-height: 37px;
    text-align: center;
    text-shadow: 1px 1px 1px #8da181; }

body {
  background: url(../images/bg-body.jpg) repeat;
  color: #356618;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  min-width: 940px;
  padding: 0; }

a {
  outline: none; }

img {
  border: 0; }

p {
  margin: 0;
  text-align: justify; }
  p a {
    color: #356618; }
    p a:hover {
      color: #66a143; }

#page {
  background: #356618;
  margin: 0 auto;
  padding: 0 20px;
  width: 900px; }

#footer div div ul {
  list-style: none;
  margin: 0;
  padding: 0; }

#body div#content div#sidebar div ul li {
  color: #818181;
  letter-spacing: 0.028em;
  line-height: 24px; }
  #body div#content div#sidebar div ul li a {
    color: #818181;
    text-decoration: none; }
    #body div#content div#sidebar div ul li a:hover {
      color: #4b4b4f; }

#body div#content div#sidebar div:first-child ul li {
  letter-spacing: 0.024em;
  line-height: 18px;
  margin: 15px 0 0; }

#body div#content div#sidebar div p {
  color: #818181;
  padding: 0; }
